*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Catamaran', sans-serif;
}

/*Header CSS*/

header{
	background: url(../images/tree.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;

}

nav > ul{
	display:flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;

}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-item{
	background-color: #cccccc;
	font-size: 15px;
	font-weight: bold;
}

.btn:hover{
	background-color: gray;
}

#btnItem{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: 0.2s;
}
#btnItem:hover{
	top: 15px;
	transition: 0.2s;
}

/*end of header css*/

/*submenu css*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	opacity: 0.75;
	display: flex;
	position: absolute;
	left: 10%;
	top: 75px;
	visibility: hidden;
	transition: 0.06s;
}

#mega-menu:hover > .submenu, #megamenu > .submenu:hover{
	visibility: visible;
	transition: 0.06s;
}

.submenu > div{
	width: 25%;
}

div + div{
	border-left: 1px solid whitesmoke;
}

.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: #808080;
}
/*end of submenu css*/

/*header text css*/
.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1, .header-text > p, .header-text > button{
	margin-left: 70px;
}

.header-text > h1{
	font-size: 55px;
}

.header-text > .btn{
	margin-top: 20px;
	background-color: #cccccc;
	color: black;
}

.header-text > .btn:hover{
	background-color: gray;
}
/*end of css for header text*/

/*start of quote css*/
.quote{
	height: 50vh;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div{
	width: 50%;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}
/*end of quote css*/

/*start of explanation css*/
.explanation{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100vh;
	border-bottom: 1px solid whitesmoke;
}

.section1, .section2{
	height: 100%;
	width: 50%;
	
}

.section1{
	display:flex;
	justify-content: center;
	align-items: center;
}

.section2{
	padding-top: 130px;
	text-align: left;
	padding-left: 10px;
}

.section1 > img{
	border-radius: 5px;
	width: 500px;
}

.section-content{
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}

.enlarge{
	font-size: 100px;
}

.sign{
	position: relative;
	bottom: 40px;
}
/*end of explanation css*/

/*start of people-desc css*/
.people-desc{
	height: 100vh;
	text-align: center;
	padding-top: 100px;
	border-bottom: 1px solid whitesmoke;
}

.people-desc > h1{
	font-size: 40px;
}

.desc-area{
	height: 80%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	position: relative;
	bottom: 90px;
	transition: 0.2s;
}

.desc-box > .desc-text{
	padding: 25px;
}

.desc-box > .desc-img > img{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: relative;
	z-index: 1;
	bottom: 23px;
}

.desc-box > .desc-img > p{
	position: relative;
	bottom: 25px;
}

.desc-box > .desc-img{
	text-align: center;
}

.desc-box > hr{
	border-top: 1px solid darkgrey;
}

.people-desc > .desc-area > .desc-box{
	border: 1px solid darkgrey;
	width: 250px;
	height: 270px;
	margin: 20px;
	position: relative;
}

.desc-box:hover{
	box-shadow: 0px 80px 53px -75px rgba(0,0,0,0.75);
	bottom: 8px;
	transition: 0.2s;
}
/*end of people-desc css*/